@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  max-height: 100vh;
  overflow-y: hidden;
}

body {
  @apply bg-gradient-to-r dark:from-crust dark:to-mantle from-flamingo to-rosewater selection:bg-mauve/20;
}

.nextui-navbar-container {
  @apply !m-2 !mb-0 xl:!mx-6;
}

.github-avatar img {
  @apply !bg-white;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  transition: all 250ms ease-in-out;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: transparent;
  transition: all 250ms ease-in-out;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-200 dark:bg-mantle;
  border-radius: 100vh;
  transition: all 250ms ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply cursor-pointer dark:bg-gray-700;
}
